In [1]:
# Task 1:

In [2]:
# 1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
#    the given sequence is defined as follows:
#    The moving average sequence has n-k+1 elements as shown below.
#    The moving averages with k=4 of a ten-value sequence (n=10) is shown below
#    i      1  2  3  4  5  6  7  8  9 10
#    ===== == == == == == == == == == ==
#    Input 10 20 30 40 50 60 70 80 90 100
#    y1 25 = (10+20+30+40)/4
#    y2 35 = (20+30+40+50)/4
#    y3 45 = (30+40+50+60)/4
#    y4 55 = (40+50+60+70)/4
#    y5 65 = (50+60+70+80)/4
#    y6 75 = (60+70+80+90)/4
#    y7 85 = (70+80+90+100)/4

#    Thus, the moving average sequence has n-k+1=10-4+1=7 values.

#    Problem Statement:
#    Write a function to find moving average in an array over a window:
#    Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

import numpy as np

def MovingAverage(seq, k):
    n = len(seq)
    npArray = np.array([])
    for i in range(0,n-k+1):
        npArray = np.append(npArray, sum(seq[i:i+k])/k)
    return npArray
    #return[sum(seq[i:i+k])/k for i in range(0,n-k+1)]

array = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
window = 3
print("Movig Average for ", array, "with window size =", window)
print("Result: " , MovingAverage(array, window))

Movig Average for  [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] with window size = 3
Result:  [  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

In [3]:
# Task 2:

In [4]:
# 1. How-to-count-distance-to-the-previous-zero
#    For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
#    create a new column 'Y'
#    Consider a DataFrame df where there is an integer column 'X'
#    import pandas as pd
#    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

import numpy as np
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df["Y"] = 0
distance = 0;
for index, row in df.iterrows():
    distance = 0 if (row["X"] == 0) else distance + 1
    df["Y"][index] = distance
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [5]:
# 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

dti = pd.date_range('2015-01-01', '2015-12-31', freq='B')
s = pd.Series(np.random.randint(0,1000, size=len(dti)), index=dti)
s

2015-01-01    849
2015-01-02    395
2015-01-05    289
2015-01-06    703
2015-01-07    502
2015-01-08    930
2015-01-09     38
2015-01-12     92
2015-01-13    889
2015-01-14    146
2015-01-15    386
2015-01-16    226
2015-01-19     49
2015-01-20    856
2015-01-21    146
2015-01-22    653
2015-01-23    185
2015-01-26    817
2015-01-27    262
2015-01-28    457
2015-01-29    449
2015-01-30     93
2015-02-02    862
2015-02-03    545
2015-02-04    846
2015-02-05    273
2015-02-06    401
2015-02-09    357
2015-02-10    190
2015-02-11    218
             ...
2015-11-20    522
2015-11-23    846
2015-11-24    516
2015-11-25    370
2015-11-26    590
2015-11-27    905
2015-11-30    699
2015-12-01    584
2015-12-02    566
2015-12-03    975
2015-12-04    653
2015-12-07     47
2015-12-08    944
2015-12-09    586
2015-12-10    192
2015-12-11    767
2015-12-14    249
2015-12-15    766
2015-12-16    412
2015-12-17    807
2015-12-18    901
2015-12-21    115
2015-12-22    827
2015-12-23    188
2015-12-24     26
2015-12-25    333
2015-12-28    972
2015-12-29    816
2015-12-30    493
2015-12-31    103
Freq: B, Length: 261, dtype: int32

In [6]:
# 3. Find the sum of the values in s for every Wednesday

print("Sum of the values in s for every Wednesday", s[dti.weekday == 2].sum())

Sum of the values in s for every Wednesday 27799

In [7]:
# 4. Average For each calendar month

s.groupby(dti.month).mean()

1     427.818182
2     587.850000
3     464.409091
4     467.363636
5     513.047619
6     516.045455
7     413.565217
8     488.714286
9     423.000000
10    521.818182
11    599.523810
12    535.739130
dtype: float64

In [8]:
# 5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

def group4ConsecutiveMonths(row):
    m = row.name.month
    if (m <= 4):
        return 1
    elif (m >= 9):
        return 3
    else:
        return 2

df = s.to_frame(name="Value")
df["4MGroup"] = df.apply(group4ConsecutiveMonths, axis=1)
idx = df.groupby(['4MGroup'])['Value'].transform(max) == df['Value']
df[idx]["Value"]

2015-02-27    993
2015-07-23    982
2015-12-03    975
Name: Value, dtype: int32